body{
    background-color: rgb(224, 224, 220);
}

.main {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
background-color: black ;
    border-radius: 30px;;
    
    z-index: 32;


}

.main span {

    font-size:36px;
    text-align:right;
    color:white;
    margin: 20px;

}

.card {
    position:relative;
    margin: 25px 20px;
    padding: 40px;


}

.material-icons {
    font-size: 36px;
    margin-left: 25px;
}

.title {
    margin-left: 25px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: lighter;
}

.writer {
    margin-left: 25px;
    font-size: 12px;
} 

.content{
    margin-left: 25px;
    margin-left: 80px;
}

button {
    margin-left: 25px;
    height: 30px;
    font-size: 12
    px;;
    border-radius:  15px;
    background-color: black;
    color: white;
}